body {
	color: #D0F0C0;
	background-color: #20214F;
	font-family: Tahoma;
}
table {
	width: 100%;
	padding-left: 20px;
}
.header {
	font-size: xx-large;
}
.main {
	padding-left: 100px;
	padding-right: 10px;
	font-size: x-large;
}
.ad {
	width: 20%;
	color: #6A5ACD;
}
.feedback {
	font-size: large;
}
.transparent {
	opacity: 0.5;
	text-align: right;
}
img {
	width: 97%;
	height: 40%;
}
a {
	color: #D0F0C0;
}